* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    cursor: grabbing;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: #f5f5f5;
    font-family: dharma-gothic-c, sans-serif;
    font-style: normal;
    font-family: montserrat, sans-serif;
    font-style: normal;
    color: #141414;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}





//Variables --





//Functions --


















