* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: #FFF;
    font-family: montserrat, sans-serif;
    font-style: normal;
    color: #141414;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}





//Variables --
    $colors: (
        BlackText: #141414,
        WhiteText: #f7f7f7,
        DarkWhiteText: #acacac,
        ContentWindow: rgb(227, 226, 225),
        MainMenuBG: #141414,
        MenuBarBG: #f7f7f7,
    );




//Functions --
    @function color($colorName){
        @return map-get($colors, $colorName)
    }



//Fonts --
    .dharma-gothic-c {
        font-family: dharma-gothic-c, sans-serif;
        font-style: normal;
    }

    .montserrat {
        font-family: montserrat, sans-serif;
        font-style: normal;
    }














