//
//Menu Bar (s) Styles
//


//-- Main Menu - Bar --
.Menu-Bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 90px;
    padding: 10px;
    background-color: #f7f7f7;
    box-shadow: 10px 10px 25px #14141403;
    z-index: 999;
}

    .Menu-Bar-Inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

        //Header
        .Menu-Bar-Header {
            cursor: auto;
        }

            .Menu-Bar-Header-Text {
                font-size: 18px;
                font-weight: 800;
            }

        //Menu Icon
        .Menu-Bar-Icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 30px;
        }

            .Menu-Bar-Icon-Inner {
                width: 100%;
                height: 100%;
                position: relative;
                cursor: pointer;
                z-index: 100;
                overflow: hidden;
            }

                .Menu-Bar-Icon-Line {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 40px;
                    height: 1px;
                    transform-origin: center;
                    background-color: #141414;
                    transition: all;
                    
                    
                }
                    .Menu-Bar-Icon-Line1 {
                        top: 10px;
                    }
                    .Menu-Bar-Icon-Line2 {
                        top: 20px;
                    }

        //Footer
        .Menu-Bar-Footer {
            position: relative;
        }

            .Menu-Bar-Tagline {
                width: 100%;
                margin-bottom: 10px;
                cursor: auto;
            }

                .Menu-Bar-Tagline-Text {
                    font-size: 13px;
                    font-weight: 800;
                }

            .Menu-Bar-Footer-Copyright {
                width: 100%;
                cursor: auto;
            }
                .Menu-Bar-Footer-Copyright-Text {
                    font-size: 12px;
                    font-weight: 300;
                }

@media screen and (max-height: 700px){
    .Menu-Bar {
        width: 80px;
    }
    .Menu-Bar-Header-Text {
        font-size: 14px;
    }

    .Menu-Bar-Tagline-Text {
        font-size: 11px;
    }
    .Menu-Bar-Footer-Copyright-Text {
        font-size: 9px;
    }
    .Menu-Bar-Icon-Line {
        width: 40px;
    }
    .Menu-Bar-Icon-Text {
        font-size: 13px;
    }
}

@media screen and (max-width: 1200px){
    .Menu-Bar {
        width: 80px;
    }
    .Menu-Bar-Header-Text {
        font-size: 14px;
    }

    .Menu-Bar-Tagline-Text {
        font-size: 11px;
    }
    .Menu-Bar-Footer-Copyright-Text {
        font-size: 9px;
    }
    .Menu-Bar-Icon-Line {
        width: 40px;
    }
    .Menu-Bar-Icon-Text {
        font-size: 13px;
    }
}


@media screen and (max-width: 700px){
    .Menu-Bar {
        display: none;
    }
}






















//-- Mobile -- Main Menu - Bar --
.Mobile-Menu-Bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    width: 100vw;
    padding: 10px;
    background-color: #f7f7f7;
    display: none;
    z-index: 999;
}

    .Mobile-Menu-Bar-Inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
    }

        //Header
        .Mobile-Menu-Bar-Header {
            cursor: auto;
            align-self: center;
        }

            .Mobile-Menu-Bar-Header-Text {
                font-size: 14px;
                font-weight: 800;
            }

        //Menu Icon
        .Mobile-Menu-Bar-Icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 11px;
            width: 50px;
            cursor: pointer;
        }

            .Mobile-Menu-Bar-Icon-Inner {
                width: 100%;
                height: 100%;
                position: relative;
            }

                .Mobile-Menu-Bar-Icon-Line {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50px;
                    height: 1px;
                    background-color: #141414;
                    transition: all;
                }

                    .Mobile-Menu-Bar-Icon-Line1 {
                        top: 0px;
                    }

                    .Mobile-Menu-Bar-Icon-Line2 {
                        top: 100%;
                    }

        //Footer

        .Mobile-Menu-Bar-Footer {
            align-items: flex-end;
        }

            .Mobile-Menu-Bar-Footer-Copyright {
                cursor: auto;
                text-align: end;
            }
                .Mobile-Menu-Bar-Footer-Copyright-Text {
                    font-size: 10px;
                    font-weight: 300;
                }

@media screen and (max-width: 700px){
    .Mobile-Menu-Bar {
        display: flex;
    }
}

@media screen and (max-width: 450px){
    .Mobile-Menu-Bar {
        height: 60px;
        padding: 10px 20px;
    }

    .Mobile-Menu-Bar-Header-Text {
        font-size: 10px;
    }
    .Mobile-Menu-Bar-Footer-Copyright-Text {
        font-size: 8px;
    }
    .Mobile-Menu-Bar-Icon {
        width: 40px;
    }
    .Mobile-Menu-Bar-Icon-Line {
        width: 40px;
    }
}